<div
  class="d-md-flex flex-md-equal col-md-12 col-sm-12 row business-insights-display"
  id="business-mobile"
>
  <div class="overflow-hidden bus-mobile-pt">
    <h2 class="primary-color semiBold m-0 d-none">
      <%= __('PinPointForBusiness') %>
    </h2>
    <h2 class="primary-color semiBold"><%= __('Benefits') %></h2>

    <div class="row col-md-9 d-inline-flex mt-2 pt-2 business-div">
      <div class="col-md-6">
        <img class="business-icons" src="/images/icons/Photos-10.png" />
        <h3 class="primary-color regular pt-2 mt-2">
          <%= __('UsefulInsightsToDrriveAdvertisements') %> <br class="break" />
          <%= __('AndOptimizeSales') %>
        </h3>
      </div>
      <div class="col-md-6">
        <img class="business-icons" src="/images/icons/Photos-11.png" />
        <h3 class="primary-color regular pt-3 mt-1"><%= __('UniqueQueueManagementSystem') %></h3>
      </div>
      <div class="col-md-6 pt-3">
        <img class="business-icons" src="/images/icons/Photos-12.png" />
        <h3 class="primary-color regular pt-3">
          <%= __('KeeYourEmployeesHealthyAndSafeDuringCOVID') %><br class="break" />
          <%= __('WhileAlsoAttractingCustomers') %>
        </h3>
      </div>
      <div class="col-md-6 pt-3">
        <img class="business-icons" src="/images/icons/Photos-13.png" />
        <h3 class="primary-color regular pt-3 margin-mobile">
          <%= __('UsefulHardwareRequirement') %>
        </h3>
      </div>
    </div>
  </div>
</div>
