<!-------mobile business insights version-->

<div class="primary-background-color light-color background-business mobile-services-version">
  <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel-business-mobile">
      <ol class="carousel-indicators carousel-style m-0">
        <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCaptions" data-slide-to="1"></li>
        <li data-target="#carouselCaptions" data-slide-to="2"></li>
        <li data-target="#carouselCaptions" data-slide-to="3"></li>
        <li data-target="#carouselCaptions" data-slide-to="4"></li>
        <li data-target="#carouselCaptions" data-slide-to="5"></li>

        <!--Controls-->
        <a
          class="carousel-control-prev carousel-prev"
          href="#carouselCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <!--/.Controls-->

        <a
          class="carousel-control-next carousel-next"
          href="#carouselCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </ol>
      <div class="m-0 pt-2 my-5">
        <h2 class="semiBold text-center">
          <%= __('BusinessInsights') %>
        </h2>
      </div>

      <div class="carousel-item active">
        <div
          class="carousel-list d-md-flex flex-md-equal col-md-12 col-sm-12 row padding-style pb-3 <%= __('textDirection') %>"
        >
          <div class="col-md-6 col-sm-12 business-insights-img">
            <img src="/images/business-insights/generalInsights.gif" />
          </div>

          <div
            class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden <%= __('textDirection') %>"
          >
            <div class="my-2 py-2">
              <h2 class="light-color semiBoldInsights <%= __('textDirection') %>">
                <%= __('GeneralInsightsBenefits') %><br />
                <%= __('ForBusinesses') %>
              </h2>
            </div>

            <div class="mb-5 pb-5 light-color">
              <ul class="p-3">
                <li class="light-color detailsSlider">
                  <%= __('RealTimeTrafficAndOccupancy') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('PeakHours') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('StaffOptimization') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('QueueManagement') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('WeatherSeasonsCorrelation') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div
          class="carousel-list d-md-flex flex-md-equal col-md-12 col-sm-12 row primary-color padding-style pb-3 <%= __('textDirection') %>"
        >
          <div class="col-md-6 col-sm-12 business-insights-img">
            <img src="/images/business-insights/B2C.jpg" />
          </div>

          <div
            class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden <%= __('textDirection') %>"
          >
            <div class="my-2 py-2">
              <h2 class="light-color semiBoldInsights <%= __('textDirection') %>">
                <%= __('B2CUserInterface') %><br /><%= __('AppDataAnalyticsBenefits') %>
              </h2>
            </div>

            <div class="mb-5 pb-5 light-color">
              <ul class="p-3">
                <li class="light-color detailsSlider">
                  <%= __('DemographicAnalysis') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('CustomerInterestAnalysis') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('CustomerSpendingAnalysis') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('CustomerRatingAnalysis') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div
          class="carousel-list d-md-flex flex-md-equal col-md-12 col-sm-12 row padding-style pb-3 <%= __('textDirection') %>"
        >
          <div class="col-md-6 col-sm-12 business-insights-img">
            <img src="/images/business-insights/virtualRegion.gif" />
          </div>

          <div
            class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden <%= __('textDirection') %>"
          >
            <div class="my-2 py-2">
              <h2 class="light-color semiBoldInsights <%= __('textDirection') %>">
                <%= __('VirtualGateRegion') %><br /><%= __('LineAnalysisBenefits') %>
              </h2>
            </div>

            <div class="mb-5 pb-5 light-color">
              <ul class="p-3">
                <li class="light-color detailsSlider">
                  <%= __('EntriesExitsDetection') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('PeopleCounter') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('MovementAnalysis') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('PopularAreaDetection') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('RegionsCorrelationAnalysis') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div
          class="carousel-list d-md-flex flex-md-equal col-md-12 col-sm-12 row padding-style pb-3 <%= __('textDirection') %>"
        >
          <div class="col-md-6 col-sm-12 business-insights-img">
            <img src="/images/business-insights/heatMap.gif" />
          </div>

          <div
            class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden <%= __('textDirection') %>"
          >
            <div class="my-2 py-2">
              <h2 class="light-color semiBoldInsights <%= __('textDirection') %>">
                <%= __('HeatmapBenefits') %> <%= __('ForBusinesses') %>
              </h2>
            </div>

            <div class="mb-5 pb-5 light-color">
              <ul class="p-3">
                <li class="light-color detailsSlider">
                  <%= __('CustomerCongestionAnalysis') %>
                </li>
                <li class="light-color detailsSlider">
                  <%= __('PopularAreaDetection') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div
          class="carousel-list d-md-flex flex-md-equal col-md-12 col-sm-12 row padding-style pb-3 <%= __('textDirection') %>"
        >
          <div class="col-md-6 col-sm-12 business-insights-img">
            <img src="/images/business-insights/BirdView.gif" />
          </div>

          <div
            class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden <%= __('textDirection') %>"
          >
            <div class="my-2 py-2">
              <h2 class="light-color semiBoldInsights <%= __('textDirection') %>">
                <%= __('BirdViewBenefits') %><br /><%= __('ForBusinesses') %>
              </h2>
            </div>

            <div class="mb-5 pb-5 light-color">
              <ul class="p-3">
                <li class="light-color detailsSlider">
                  <%= __('AnomaliesDetectionAnalysis') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div
          class="carousel-list d-md-flex flex-md-equal col-md-12 col-sm-12 row pb-3 <%= __('textDirection') %>"
        >
          <div class="col-md-6 col-sm-12 ml-md-3 analysis-padding-img business-insights-img">
            <img src="/images/business-insights/analysis.png" />
          </div>

          <div
            class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden <%= __('textDirection') %>"
          >
            <div class="padding-style padding-mobile">
              <p class="light-color detailsSlider mt-3 <%= __('textDirection') %>">
                <%= __('COVIDAnalyticsText') %>
              </p>
              <p class="light-color detailsSlider mt-3 <%= __('textDirection') %>">
                <%= __('assitsBusiness') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-1 web-services-version">
    <a class="carousel-indicators carousel-angle-style" href="/business/#howWeDoIt"
      ><i class="fa fa-angle-down fa-5x light-color"></i
    ></a>
  </div>
</div>
<!--------end mobile business insights version-->
