<div class="position-relative text-center dark-background-color background-business" id="howWeDoIt">
  <div class="d-md-flex flex-md-equal col-md-12 col-sm-12 row">
    <div
      class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden padding-style <%= __('textDirection') %>"
    >
      <div class="my-4 py-4">
        <h2 class="light-color semiBold">
          <%= __('HowWe') %><br class="break" />
          <%= __('DoIt') %>
        </h2>
      </div>

      <div class="pb-3">
        <h2 class="primary-color detailsSlider primary-color">
          <%= __('WeApplyDeepLearningAlgorithms') %><br /><%= __('ToYourCCTVCamerasTo') %>
        </h2>
      </div>

      <div class="light-color">
        <ul class="p-3">
          <li class="primary-color detailsSlider">
            <%= __('CountTheNumberOfEntriesAndExitsInAStore') %>
          </li>
          <li class="primary-color detailsSlider">
            <%= __('DetectMaskedFacesVSNonMaskedOnes') %>
          </li>
          <li class="primary-color detailsSlider">
            <%= __('DetectDistanceViolationInsideThePlace') %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 text-white padding-eighteen">
      <img src="/images/background/face.png" class="w-100" alt="mobile_image" />
    </div>
  </div>
</div>

<div class="dark-background-color">
  <div class="col-lg-6 col-md-6 col-xl-4 mx-auto dark">
    <div class="mr-md-3 px-md-5 pb-5 text-white overflow-hidden request-demo-mobile-py">
      <button class="btn btn-primary-color w-100">
        <a class="nav-link footerFont web-services-version" href="/business/get-demo"
          ><%= __('RequestADemo') %></a
        >
        <a class="nav-link footerFont mobile-services-version" href="/#get-demo-mobile"
          ><%= __('RequestADemo') %></a
        >
      </button>
    </div>
  </div>
</div>
