<!---------mobile services version-->
<div
  class="position-relative text-center background-service-image light-background-color mobile-services-version"
  id="services-mobile"
>
  <div class="d-md-flex flex-md-equal col-md-12 col-sm-12 row" style="min-height: 100vh;">
    <div class="col-md-6 col-sm-6 text-white overflow-hidden py-4 mt-4 text-center">
      <!--Carousel Wrapper-->
      <div
        id="carousel-example-1y"
        class="carousel slide carousel-fade pointer-event"
        data-ride="carousel"
        style="height: 100%;"
      >
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-slide-to="0" class="active"></li>
          <li data-slide-to="1"></li>
          <li data-slide-to="2"></li>
          <li data-slide-to="3"></li>

          <!--Controls-->
          <a
            class="carousel-control-prev"
            href="#carousel-example-1y"
            role="button"
            data-slide="prev"
            style="bottom: 0; width: 0% !important;"
          >
            <span class="carousel-control-prev-icon carousel-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a
            class="carousel-control-next"
            href="#carousel-example-1y"
            role="button"
            data-slide="next"
            style="bottom: 0; width: 0% !important;"
          >
            <span class="carousel-control-next-icon carousel-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item d-block">
            <img class="mobile-img" src="/images/mobile/Photos-05.png" alt="mobile" />
          </div>
          <!--/First slide-->
          <!--Second slide-->
          <div class="carousel-item d-block active">
            <img class="mobile-img" src="/images/mobile/Photos-06.png" alt="mobile" />
          </div>
          <!--/Second slide-->
          <!--Third slide-->
          <div class="carousel-item d-block">
            <img class="mobile-img" src="/images/mobile/Photos-07.png" alt="mobile" />
          </div>
          <!--Forth slide-->
          <div class="carousel-item d-block">
            <img class="mobile-img" src="/images/mobile/Photos-08.png" alt="mobile" />
          </div>
          <!--/Forth slide-->
        </div>
        <!--/.Slides-->
      </div>
      <!--/.Carousel Wrapper-->
    </div>
    <div class="col-md-6 col-sm-12 mr-md-3 px-3 px-md-5 text-white overflow-hidden text-left">
      <div class="my-3 pt-4">
        <h2 class="primary-color semiBold text-left">
          <%= __('Our') %> <%= __('Services') %>
        </h2>
      </div>

      <div class="d-none">
        <h2 class="dark-color medium pb-3">
          <%= __('NoMoreAnxietyWhenYou') %>
          <br />
          <%= __('LeaveYourHouse') %>
        </h2>
        <h2 class="dark-color medium">
          <%= __('NoMoreWaitingInLine') %>
          <br />
          <%= __('IfThePlaceIsBusy') %>
        </h2>
      </div>
      <div style="height: 10vh;">
        <h2 class="medium mb-4 servicesText_0 servicesText dark-color">
          <%= __('WeCountTheNumberOfPeopleInThe') %><br />
          <%= __('StoriesForYou') %>
        </h2>
        <h2 class="medium mb-4 servicesText_1 servicesText dark-color">
          <%= __('YouViewTheLiveData') %> <%= __('OfFootTraffic') %>
        </h2>
        <h2 class="medium mb-4 servicesText_2 servicesText dark-color">
          <%= __('WePutYouInTheWaitingList') %> <br /><%= __('IfThePlaceIsFull') %>
        </h2>
        <div class="servicesText_3 servicesText medium dark-color">
          <h2 style="font-size: 1rem !important;">
            <%= __('EarnMoneyByScanningYourReceipts') %>
          </h2>
          <h2 style="font-size: 1rem !important;">
            <%= __('WithPinPointsRewardProgram') %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------end mobile services version-->
